# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../Module2\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../:\JavaProject\Module2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
